.choresText {
   color: rgb(230, 9, 255);
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: large;
   font-style: italic;
}

.choresHeading {
   color: rgb(0, 0, 0);
   text-decoration: underline;
}